#root {
  width: 100%;           /* Ensure it takes up the full width */
  max-width: 1280px;     /* Maximum width for the content */
  margin: 0 auto;        /* Center the content horizontally */
  padding: 2rem;         /* Adds some padding around the content */
  text-align: center;    /* Centers the text content inside */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #998;
}

/* Remove logo styles, if not needed */
